:root {
    --primary-background: #232931;
    --secondary-background: #393e46;
    --primary-color: #ececec;
    --secondary-color: #2d3238;
    --tertiary-color: #4d4d4d;
}

* ::-webkit-scrollbar {
    width: 10px;
}

* ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
}

* ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--primary-background);
    color: var(--primary-color);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

/* LAYOUT */
.grid-container {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.header {
    min-height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
}

.grid {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 1.5em 0 8em;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
}

/* Clearfix */

.grid:after {
    content: '';
    display: block;
    clear: both;
}

/* Grid items */

.grid__sizer,
.grid__item {
    position: relative;
    box-sizing: border-box;
    min-height: 1px;
    float: left;
    width: 16%;
    margin-left: .5rem;
    padding: .75em .75em 1.25em;
}

.grid--loading .grid__item {
    visibility: hidden;
}

.grid__item--size-a {
    width: 16%;
}

.grid__item {
    margin-right: .5rem;
    margin-bottom: .5rem;
    border-radius: .5rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: var(--secondary-background);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
    cursor: pointer;
    transition: 1s;
}

.grid__item:hover {
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05);
}

/* GENERAL */
.flex {
    display: flex;
}

.btn {
    height: 100%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    outline: none;
    margin-right: .5rem;
    margin-top: .5rem;
    padding: .5rem;
    border-radius: .25rem;
    cursor: pointer;
    color: var(--primary-color);
    background-color: var(--secondary-background);
    transition: .3s;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.btn.btn-profile {
    margin-top: 0;
    padding: .7rem;
}

.btn.btn-login {
    padding: .75rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    font-size: 1rem;
    border-radius: .5rem;
    background-color: rgba(255, 255, 255, 0.1);
}

.btn.btn-login:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.btn.btn-active {
    background-color: #f40;
}

.btn.btn-status {
    border-radius: 12.5px;
    height: 25px;
    padding: .25rem;
    background-color: #00ff9d;
}

.btn.btn-tab {
    background-color: rgba(0, 0, 0, 0.1);
    margin: .5rem 0;
}

.btn.btn-tab.btn-active {
    background-color: rgba(255, 255, 255, 0.2);
    border-bottom: 2px solid #f40;
}

/* NAVBAR */
.navbar-container {
    display: flex;
    background-color: var(--secondary-background);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    position: sticky;
    top: 0;
    z-index: 40;
}

.navbar {
    width: 100%;
    height: 5rem;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    padding: .5rem;
}

.logo {
    display: flex;
    flex-direction: column;
}

.logo img {
    width: 100px;
}

.logo div {
    font-size: 1.125rem;
    line-height: .5rem;
    font-weight: 500;
}

.profile-container {
    display: flex;
    align-items: center;
}

.user-icon {
    width: 2rem;
    height: 2rem;
    border: 2px solid var(--primary-color);
    background-color: var(--secondary-background);
    border-radius: 50%;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
    margin-right: .75rem;
    cursor: pointer;
}

.dropdown {
    position: absolute;
    background-color: var(--secondary-background);
    margin-top: .25rem;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
    color: var(--primary-color);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: .5rem;
    width: 12rem;
    top: 5rem;
    right: 0;
    margin-right: .5rem;
    padding-top: 1rem;
    padding-bottom: .5rem;
    animation: zoomin 0.1s ease-in-out;
}

.dropdown .link {
    display: block;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 600;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.dropdown .link:hover {
    background-color: var(--secondary-color);
}

/* PRICE TICKER */
.price-ticker-container {
    display: flex;
    flex-direction: row;
    margin: 0;
    margin-left: 2rem;
    font-size: .75rem;
    line-height: 1rem;
    font-weight: 700;
    align-items: center;
}

.ticker-icon {
    width: 2rem;
    height: 2rem;
    margin-left: 1.75rempx;
    object-fit: contain;
}

.price-ticker-meta {
    display: flex;
    flex-direction: column;
}

.coin-name {
    margin: 0;
    margin-left: .5rem;
    font-size: .75rem;
    line-height: 1rem;
    font-weight: 700;
}

.coin-price-container {
    display: flex;
    flex-direction: row;
    margin-top: -0.5rem;
}

.coin-price {
    margin: 0;
    margin-left: 0.5rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 500;
}

.price-indicator {
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    flex-shrink: 0;
    font-size: 1.5rem;
    line-height: 2rem;
    user-select: none;
}

.percentage-change {
    margin: 0;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
}

.text-red {
    color: rgb(219, 105, 105);
}

.text-green {
    color: rgb(81, 146, 81);
}

.rotate-180 {
    transform: rotate(180deg);
}

/* SEARCH INPUT */
.search-container {
    color: gray;
    position: relative;
    margin-right: .5rem;
}

.search-input {
    height: 2.5rem;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: .5rem;
    outline: none;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-left: 1.5rem;
    padding-right: 1.25rem;
    color: var(--primary-color);
    background-color: rgba(255, 255, 255, 0.1);
}

.search-input:focus {
    outline: none;
}

.search-button {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 0.75rem;
    margin-right: 1rem;
    color: var(--primary-color);
    background-color: transparent;
    border: none;
    outline: none;
}

.search-icon {
    width: 1rem;
    height: 1rem;
}

/* CARD CHILD ELEMENTS */
.item__image {
    margin: -0.75rem;
    margin-top: 0;
    height: 10rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.meta {
    position: relative;
    margin: 10px 0 0;
    padding: 0 60px 10px 10px;
    text-align: left;
}

.meta__by {
    font-size: .85em;
    font-weight: bold;
    display: block;
    color: #8f9097;
}

.meta__title {
    font-size: .95em;
    font-weight: bold;
    margin: 0;
    padding: .4em 0 .1em;
}

.meta__stars {
    font-size: .95em;
    color: #595b64;
    margin-top: .5rem;
}

/* APP DETAILED */
.app-image {
    display: flex;
    align-items: center;
}

.app-image img {
    max-width: 500px;
    width: 100%;
}

.app-reviews,
.app-details {
    animation: fadein 1s ease;
}

.profile-info {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.25rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.profile-info .username {
    min-width: 50%;
}

.profile-info .submit {
    height: 100%;
    width: 25%;
    margin-top: 3rem;
}

.profile-table {
    overflow-x: auto;
    margin-left: 5px;
    margin-right: 5px;
}

/* TABLES */
table,
th,
td {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-collapse: collapse;
}

table {
    margin-top: 1rem;
    border-spacing: 5px;
    background-color: transparent;
}

th,
td {
    padding: .5rem;
}

th {
    text-align: left;
}

table tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.1);
}

table th {
    background-color: rgba(0, 0, 0, 0.2);
}

/* FOOTER */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-background);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12), 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.footer a {
    text-decoration: none;
    margin-left: .75rem;
    color: var(--primary-color);
}

.footer a:hover {
    color: var(--secondary-color);
}

.copyright {
    margin-bottom: .5rem;
}

/* LOADER */
.loader {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--primary-background);
    z-index: 50;
}

.balls {
    width: 3.5em;
    display: flex;
    margin: auto;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.balls div {
    width: 0.8em;
    height: 0.8em;
    border-radius: 50%;
    background-color: #f40;
    transform: translateY(-100%);
    animation: wave 0.8s ease-in-out alternate infinite;
}

.balls div:nth-of-type(1) {
    animation-delay: -0.4s;
}

.balls div:nth-of-type(2) {
    animation-delay: -0.2s;
}

/* MODAL */
.modal {
    width: 500px;
    max-height: 99%;
    overflow-y: auto;
    background-color: var(--secondary-color);
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05);
    border-radius: .5rem;
    padding: 1rem;
}

.modal.sm {
    width: 400px;
}

.modal.lg {
    width: 1100px;
}

.modal.dark {
    background-color: var(--primary-background);
}

.app-reviews {
    max-height: 250px;
    overflow-y: auto;
}

.review {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: .5rem;
}

.info {
    border: 2px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
    background-color: rgba(255, 255, 255, 0.1);
    border-left: 3px solid rgb(212, 111, 111);
}

.btn-close {
    position: absolute;
    height: auto;
    top: 0;
    right: 0;
    font-size: 1rem;
    font-weight: 700;
    background-color: transparent;
    border: none;
}

h2 {
    text-align: center;
}

input,
textarea,
select {
    width: 96%;
    padding: .5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    border-radius: .5rem;
    background-color: rgba(0, 0, 0, 0.1);
    color: var(--primary-color);
    border: 1px solid rgba(0, 0, 0, 0.2);
}

input[type="submit"] {
    width: 100%;
    cursor: pointer;
    background-color: #f40;
}

input[type="submit"]:hover {
    background-color: #f34e12;
}

@keyframes wave {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(100%);
    }
}

@keyframes zoomin {
    from {
        transform: scale(0.3);
    }

    to {
        transform: scale(1);
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


/* MEDIA QUERIES */
@media screen and (max-width: 65em) {

    .grid__sizer,
    .grid__item,
    .grid__item--size-a {
        width: 31.7%;
    }
}

@media screen and (max-width: 50em) {

    .modal,
    .modal.lg,
    .modal.sm {
        width: 90%;
    }

    .profile-info {
        flex-wrap: wrap;
    }

    .logo {
        display: none;
    }

    .price-ticker-container {
        margin-left: 0;
    }

    .header {
        flex-wrap: wrap;
    }

    .header .flex {
        margin-top: .5rem;
    }

    .grid__sizer,
    .grid__item,
    .grid__item--size-a {
        width: 47%;
    }
}

@media screen and (max-width: 28em) {
    .footer {
        flex-direction: column;
    }

    .btn.btn-login {
        padding: .5rem;
        padding-right: .75rem;
        padding-left: .75rem;
        font-size: 1rem;
        border-radius: .25rem;
    }

    .grid {
        max-width: 75%;
    }

    .grid__loader {
        margin: 0 auto;
    }

    .grid__sizer,
    .grid__item,
    .grid__item--size-a {
        width: 97%;
    }
}